.item {
  background-color: var(--color-gray-99);
  padding: var(--full-width-padding-inline);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-400);

  .info {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    line-height: 2;

    .avatarWrapper {
      position: relative;
      min-width: 6.25rem;

      .avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--color-gray-80);
      }

      .registered {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: 1.25rem;
        height: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: var(--fz-500);
      }
    }

    .descWrapper {
      h5 {
        color: var(--color-gray-40);
      }

      .comment {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: var(--fz-200);

        & svg {
          display: block;
          width: auto;
          margin-bottom: 0.375rem;
          color: var(--color-star);
        }
      }
    }
  }

  .address {
    display: flex;
    gap: 0.25rem;
    font-size: var(--fz-300);
    margin-block: 1rem;

    & svg {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
    }
  }

  .wrapperTags {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    margin-block: 1rem;

    & svg {
      margin: 0 0 -3px -2px;
      font-size: var(--font-small);
    }

    & span {
      font-size: var(--font-small);
    }

    .trait {
      color: var(--color-gray-20);
      background-color: var(--color-gray-80);
      padding-inline: 0.25rem;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.25rem;
    }
  }

  .wrapperTurn {
    display: flex;
    justify-content: end;

    .turn {
      background-color: var(--color-primary);
      border-radius: 0.25rem;
      padding: 0.375rem;
      display: flex;
      justify-content: center;
      align-self: flex-end;
      color: var(--color-gray-20);
      font-weight: 500;
      flex-shrink: 0;
    }

    .turn:hover {
      cursor: pointer;
      color: var(--color-gray-99);
    }
  }
}

@media (max-width: 680px) {
  .item {
    flex-direction: column;

    .turn {
      padding: 0.25rem;
    }

    .wrapperTags span {
      font-size: var(--fz-200);
    }
  }
}
