.wrapperRate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: var(--font-small);
    font-weight: 500;

    .rate {
        background-color: var(--color-success);
        border-radius: 3rem;
        padding: 0 .25rem;
    }
}