.content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  background-color: var(--color-gray-97);
  box-shadow: var(--shadow-500);
  padding: var(--full-width-padding-inline);
  border-radius: 0.25rem;
  text-align: center;
  width: fit-content;

  .signinKeys {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 1rem;
    gap: 1rem;

    a {
      width: 100%;
      display: block;
      color: var(--color-text-700);
      padding: 0.25rem;
      border-radius: 0.25rem;
      border: 1px solid var(--color-text-700);
      font-weight: 500;

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-text-400);
      }
    }
  }

  .pic {
    padding: var(--full-width-padding-inline);
    box-shadow: var(--shadow-500);

    img {
      max-width: 250px;
      max-height: 250px;
    }
  }
}
