.home {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;

  min-block-size: 100%;

  h1 {
    svg {
      height: 4rem;
      margin-inline-end: 1rem;
    }
  }

  .history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-40);

    > ul {
      display: flex;
      gap: 1rem;

      > li {
        background-color: var(--color-gray-99);
        padding: 0.25rem 0.75rem;
        font-size: var(--fz-200);
        border-radius: 999rem;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 680px) {
  .history {
    flex-direction: column;
  }
}
