.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
    margin-bottom: .75rem;
    background: var(--color-primary-middle);
    padding: .75rem;
    border-radius: var(--border-radius);
    
}
.wrapper {
    display: flex;
    align-items: center;
    gap: .25rem;
}
.chat {
 display: flex; 
 align-items: center;  
 gap: .25rem;
 cursor: pointer;


 span {
    margin-left: .25rem;
     &:hover {
    opacity: .5;
 }
 }
}

.viButton {
    background-color: var(--color-primary);
    color: var(--color-primary-fade);
&:hover {
   color: var(--color-gray-20); 
}
}