.filterWrapper {
  border-radius: 0.3125rem;
  background-color: var(--color-gray-93);

  .wrapperExpert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: .75rem;
    margin-bottom: 1.25rem;
    line-height: 1.6;
    background-color: var(--color-gray-99);
  }

  .wrapperGender, .wrapperPoints, .wrapperOther {
    border-radius: 0.5rem;
    background-color: var(--color-gray-99);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem;
    margin-bottom: 20px;
  }
}
