.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    gap: 1rem;
    margin-block-end: 2rem;
  
    .filters {
      display: grid;
      border: 1px solid #ccc;
      border-radius: 5px;
      min-height: 100vh;
    }
  }
  
  
  